body{
    display: block;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    margin: 0;
}
#bouton{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    font-size: 50px;
    background-color: red;
    border: 6px #b00 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
#bouton:active{
    animation: bouton 0.05s;
}
@keyframes bouton {
    25%{
        height: 500px;
        width: 500px;
    }
    50%{
        height: 150px;
        width: 150px;
    }
    75%{
        height: 350px;
        width: 350px;
    }
}